<!doctype html>
<head>
  <meta charset="utf-8">
  <title>node crud</title>
</head>
<body>
  <a href='/submit'>Submit</a>
  <h1>Users</h1>
    {{#each data}}
      <h2>{{name}}</h2>
      <p>{{email}}</p>
      <p>{{topic}}</p>
      <p>{{message}}</p>
    {{/each}}
</body>
</html>
