<!doctype html>
<head>
  <meta charset="utf-8">
  <title>node crud</title>
</head>
<body>
  <form action="/submit" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="email" placeholder="e-mail" name="email">
    <input type="text" placeholder="topic" name="topic">
    <textarea placeholder="message" name="message"></textarea>
    <button type="submit">submit</button>
  </form>
</body>
</html>
